.artists-scroll {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
}

.albums-scroll {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
}


.album-style {
  display: inline-block;
  vertical-align: top;
}

.artists-section {
  margin-bottom: 60px;
}