.style-card {
    text-align: center;
    display: inline-block;
    margin-left: 20px;
}

.style-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: fill;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.style-title {
    font-size: 1.2em;
    font-size: 16px;
    padding-top: 10px;
}